/*------------------------------
    PRELOADER
-------------------------------*/

.preeloader {
    background: rgba(255, 255, 255, 1) none repeat scroll 0 0;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 999999;
}

.preloader-spinner {
    -webkit-animation: 1s ease-out 0s normal none infinite running pulsate;
    animation: 1s ease-out 0s normal none infinite running pulsate;
    border: 5px solid #ef476f;
    border-radius: 40px;
    display: block;
    height: 40px;
    left: 50%;
    margin: -20px 0 0 -20px;
    opacity: 0;
    position: fixed;
    top: 50%;
    width: 40px;
    z-index: 10;
}

@-webkit-keyframes pulsate {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

@keyframes pulsate {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}


/*----------------------------------
    MEDIUM LAYOUT: 1280px
-----------------------------------*/

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .navbar-header {
        margin-top: 5px;
    }
    .is-sticky .navbar-brand > img {
        max-width: 96%;
    }
    ul#nav li a {
        padding: 30px 10px;
        letter-spacing: 0;
    }
    .is-sticky ul#nav li a {
        padding: 22px 10px;
    }
    .app-download-button {
        padding: 27px 0;
    }
    .is-sticky .app-download-button {
        padding: 18px 0;
    }
    .welcome-mockup-two {
        bottom: 7%;
    }
    .layer-two {
        width: 60%;
    }
    .welcome-text h1 {
        font-size: 55px;
        margin-bottom: 10px;
    }
    .welcome-text h3 {
        letter-spacing: 0;
    }
    .price-title-and-rate::after {
        -webkit-transform: skewX(-17deg);
        transform: skewX(-17deg);
    }
}


/*----------------------------------
    TABLET LAYOUT: 768px
------------------------------------*/

@media (min-width: 768px) and (max-width: 991px) {
    .section-padding {
        padding: 80px 0;
    }
    .padding-top {
        padding-top: 80px;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse,
    .navbar-toggle {
        border: 2px solid #ef476f;
        border-radius: 0;
        display: block !important;
    }
    .navbar-toggle .icon-bar {
        background: #ef476f none repeat scroll 0 0;
    }
    .navbar-header {
        float: none;
    }
    .navbar-header {
        border-bottom: 1px solid #ef476f;
        margin: 0;
        padding: 15px 0;
    }
    .is-sticky .navbar-header {
        padding: 8px 0;
    }
    ul#nav {
        width: 100%;
        max-height: 200px;
        overflow: scroll;
        overflow-x: hidden;
    }
    ul#nav li {
        float: none;
    }
    .navbar-brand {
        padding: 8px;
    }
    .is-sticky .navbar-brand > img {
        max-width: inherit;
    }
    .mainmenu-area {
        background: #272727 none repeat scroll 0 0;
    }
    ul#nav li a,
    .is-sticky ul#nav li a {
        color: #fff;
        padding: 10px 15px;
    }
    ul#nav li a::after {
        display: none;
    }
    .app-download-button {
        position: absolute;
        right: 110px;
        top: -8px;
    }
    .is-sticky .app-download-button {
        top: 3px;
    }
    /*-----------------*/
    .area-title {
        margin-bottom: 50px;
    }
    .top-area {
        overflow: inherit;
    }
    .welcome-mockup-two {
        bottom: -100px;
        left: 10%;
        width: 70%;
    }
    .welcome-mockup-one {
        bottom: -20px;
        right: 23%;
        width: 60%;
    }
    .welcome-text {
        text-align: center;
    }
    .single-menu-items h4 {
        display: none;
    }
    .features-icon i {
        font-size: 28px;
        height: 60px;
        padding-top: 16px;
        width: 60px;
    }
    .slick-dots {
        display: none !important;
    }
    .fact-area.section-padding {
        padding-bottom: 40px;
    }
    .single-fun-fact {
        margin-bottom: 30px;
    }
    .single-about {
        margin-bottom: 50px;
    }
    .priceing-area.section-padding {
        padding-bottom: 30px;
    }
    .single-price {
        margin-bottom: 50px;
    }
    .footer-area {
        text-align: center;
    }
    .footer-area p {
        margin-bottom: 15px;
    }
}


/*----------------------------------
    MOBILE LAYOUT: 320px
-----------------------------------*/

@media only screen and (max-width: 767px) {
    .section-padding {
        padding: 50px 0;
    }
    .area-title {
        margin-bottom: 50px;
    }
    .area-title h2 {
        font-size: 28px;
    }
    .padding-top {
        padding-top: 50px;
    }
    .navbar-header {
        border-bottom: 1px solid #ef476f;
        margin: 0;
        padding: 15px 0;
    }
    .is-sticky .navbar-header {
        padding: 8px 0;
    }
    ul#nav {
        width: 100%;
        max-height: 200px;
        overflow: scroll;
        overflow-x: hidden;
    }
    ul#nav li {
        float: none;
    }
    .navbar-brand {
        padding: 8px;
    }
    .is-sticky .navbar-brand > img {
        max-width: inherit;
    }
    .mainmenu-area {
        background: #272727 none repeat scroll 0 0;
    }
    ul#nav li a,
    .is-sticky ul#nav li a {
        color: #fff;
        padding: 10px 15px;
    }
    ul#nav li a::after {
        display: none;
    }
    .app-download-button {
        display: none;
    }
    /*-----------------*/
    .welcome-text-area {
        padding-top: 20%;
        text-align: center;
    }
    .welcome-text h1 {
        font-size: 28px;
        letter-spacing: 0;
    }
    .welcome-text h3 {
        font-size: 20px;
        letter-spacing: 0;
    }
   /* .welcome-text p {
        display: none;
    }*/
    .home-button {
        margin-top: 20px;
        text-align: center;
    }
    .home-button a {
        margin-right: 0;
    }
    .home-button a:first-child {
        margin-bottom: 25px;
    }
    .single-image-slide img {
        margin: 0 auto;
    }
    .single-menu-items h4 {
        display: none;
    }
    .features-icon i {
        font-size: 28px;
        height: 60px;
        padding-top: 16px;
        width: 60px;
    }
    .slick-dots {
        display: none !important;
    }
    .fact-area.section-padding {
        padding-bottom: 20px;
    }
    .single-fun-fact {
        margin-bottom: 30px;
    }
    .single-about {
        margin-bottom: 50px;
        padding: 0;
        position: inherit;
        text-align: center;
    }
    .single-about .about-icon {
        margin: 0 auto 20px;
        position: inherit;
        text-align: center;
    }
    .video-area > button .fa {
        font-size: 30px;
        height: 70px;
        padding-top: 15px;
        width: 70px;
    }
    .video-area > button .fa-play {
        padding-left: 8px;
    }
    .screenshot-slider .owl-item {
        padding-top: 40px;
    }
    .screenshot-slider .owl-item img:hover {
        -webkit-transform: translate(0px);
        transform: translate(0px);
    }
    .single-price {
        margin-bottom: 50px;
    }
    .priceing-area .row .col-lg-3:last-child .single-price {
        margin-bottom: 0;
    }
    ul.download-button li:first-child a {
        margin-bottom: 25px;
    }
    .testmonial-author-name-title-img {
        padding: 0;
        position: inherit;
        text-align: center;
    }
    .testmonial-author-name-title-img .author-img {
        margin: 0 auto 20px;
        position: inherit;
    }
    .testmonial-author-details {
        padding: 70px 0 30px;
    }
    .testmonial-author-details::after {
        left: 50%;
        margin-left: -30px;
        top: 30px;
    }
    .single-client {
        margin: 1%;
        width: 48%;
    }
    .single-client.active img {
        -webkit-transform: translate(0px);
        transform: translate(0px);
    }
    .subscriber-form button {
        padding: 0 10px;
        width: auto;
    }
    .footer-area {
        text-align: center;
    }
    .footer-area p {
        margin-bottom: 15px;
    }
}


/*----------------------------------
    WIDE MOBILE LAYOUT: 480px
-----------------------------------*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .section-padding {
        padding: 50px 0;
    }
    .area-title h2 {
        font-size: 30px;
    }
    .single-about h3,
    .single-features h3 {
        font-size: 24px;
    }
    ul#nav {
        width: 100%;
        max-height: 200px;
        overflow: scroll;
        overflow-x: hidden;
    }
    ul#nav li {
        float: none;
    }
    .app-download-button {
        display: block !important;
        position: absolute;
        right: 80px;
        top: -8px;
    }
    .is-sticky .app-download-button {
        top: 2px;
    }
    .welcome-text h1 {
        font-size: 35px;
        letter-spacing: 1px;
    }
    .welcome-text h3 {
        font-size: 22px;
        letter-spacing: 0;
    }
    .home-button a {
        margin: 0 5px;
    }
}