
/* harshad css here 14/4/2017*/
body{color:#000;}
.top-area-bg::before{ /*background: transparent url("../img/top_back.jpg");*/ background-repeat:no-repeat; background-size:cover; background-position:100% 100%;	 }
.top_img { background-position: left top; background-repeat: no-repeat; background-size: 100% 100% !important; display: block; height: 100% !important; position: absolute; top: 0; width: 100%; }
.wel_sec .home-button{margin-top: 50px !important;}
ul#nav li a::after{background:#CC3300 !important;}
.is-sticky .app-download-button a{background:#cd3301 !important;}
.home-button a{background:#cd3301;}
.area-title h2{color: #000;}
.area-icon{color:#cd3301;}
.area-title-after::before, .area-title-after::after{ background: #cd3301;}
.features-icon{background: #a05a38;}
.features-icon::after{ border-top: 0 solid #cd3301;}
.single-menu-items.slick-current .features-icon{background: #cd3301;}
.slick-dots li.slick-active button{background: #000;}
.slick-dots li button{ background: #ccc;}
.red-bg{background: #a05a38;}
.dark-bg{ background: #fff; color: #000000;}
#about h2{color:#000;}
#about .area-icon{color:#cd3301;}
#about .area-title-after::before, #about .area-title-after::after{ background: #cd3301;}
.testmonial-author-name-title-img{ text-align: center; padding-left:0px; }
.author-img img { background: #cd3301 none repeat scroll 0 0; }
.download-area-bg { /*background: url("../img/download_area_bg1.jpg") no-repeat fixed center center / cover;*/ }
.app_download-area { background-attachment: fixed; background-position: left top; background-repeat: no-repeat; background-size: cover !important; display: block; height: 100% !important; position: absolute; top: 0; width: 100%; }
.download-area-bg::after {
    /* background: #ef476f none repeat scroll 0 0; */
	 background: rgba(0, 0, 0, 0.5)
}
.footer-area{background:#000;}
.footer-social-bookmark ul li a{ background: #cd3301 ;}
.footer-social-bookmark ul li a:hover{color: #cd3301;}
a.scrolltotop{ background: #cd3301;}
a.scrolltotop:hover{background: #dd4330;}
ul.download-button li a{background:#cd3301;color:#fff;font-size: 18px;}
ul.download-button li a:hover{background:#fff;color:#cd3301;}
.menu-item a:hover{color:#cd3301;}
#testmonial .author-img{position:relative; display: inline-block; width:120px; height:120px;}
.testmonial-area .owl-item{padding:0px;}
#privacy-policy h2{color:#000;}
#privacy-policy .area-icon{color:#cd3301;}
#privacy-policy .area-title-after::before, #privacy-policy .area-title-after::after{ background: #cd3301;}
.single-about:hover .about-icon, .single-about:hover .about-details h4{color: #cd3301; cursor:pointer;}
.area-title p {
    font-size: 17px;
    line-height: 26px;
    margin-bottom: 0;
}
.black_overlay {
    background: rgba(0, 0, 0, 0.50) none repeat scroll 0 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}
a:focus, a:hover{outline:none !important;}
#about{background:#fff;}
#partner{background:#f4f4f4;}
/* #screenshot .owl-carousel .owl-stage-outer{margin-bottom: 25px;} */
#screenshot .owl-controls .owl-nav i{font-size: 44px;}
#screenshot .owl-controls .owl-prev{display: block !important;}
#screenshot .owl-controls .owl-next{display: block !important;}
.navbar-header{margin-top: 0 !important ;}
.navbar-header .navbar-brand img{width: 120px !important;}
.is-sticky .navbar-brand img{width: 80px !important;}
.footer-logo img{width: 100px;}
ul#nav li a{padding: 40px 12px !important; font-size: 13px !important;}
.is-sticky ul#nav li a{padding: 20px 12px !important;}
.app-download-button a{padding: 10px 8px !important; font-size: 16px !important; font-weight: 500;} 
.home-button .app-download-button i {font-size: 19px;}
#about .area-title p{text-align: justify;}
#partner .area-title p{text-align: justify;}
#privacy-policy .area-title p{text-align: justify;}
#terms .area-title p{text-align: justify;}
.area-title{margin-bottom:0px!important;}
#features  .area-title{margin-bottom:80px!important;}
#privacy-policy .area-title ul { padding: 0 0 0 16px; text-align: left; }
#terms {background: #f4f4f4;}
#download .area-title p{margin-bottom: 30px !important;}
.home-button .app-download-button{float: left; padding:0px;}
a.scrolltotop{font-size: 17px !important; height: 30px; width: 30px; padding-top: 3px;}
ul.download-button li a i {font-size: 22px !impiorant;}
.area-title ul.feat-list {
    text-align: left;
}
.area-title ul.feat-list li{font-size:17px;}

#screenshot .owl-next {    
    position: absolute;
    right: 30%;
}
#screenshot .owl-prev {
    left: 30%;
    position: absolute;
}

#features .feat-list li{
	background: url("../img/tick.png");
	background-repeat: no-repeat;
	background-position: left 9px;
	background-size: 15px auto;
	list-style: none;
	padding: 0 0 10px 29px;
}
#screenshot{background-color:#f4f4f4;}
.mfp-zoom-out-cur .mfp-gallery .mfp-close{cursor: pointer !important;}
.mfp-wrap{cursor: auto !important;}

/*06-10-2017*/
.contact-form .wpcf7-form > p input {
    border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: none;
    float: left;
    height: 34px;
    width: 100%;
    padding:2px 10px;
}
.contact-form .wpcf7-form > p {
    display: block;
    float: left;
    padding: 0 8px;
    width: 33%;
    margin-bottom:10px;
}
.contact-form {
    display: block;
    float: none;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
}
.contact-form form{
    display: block;
    float: left;
    margin: 0 auto;
    width: 100%;
}
.contact-form .wpcf7-form > p textarea {
	border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: none;
    float: left;
    height: 80px;
    min-height:80;
    width: 100% !important;
     padding:2px 10px;
}
.contact-form .wpcf7-form > p textarea:focus, .contact-form .wpcf7-form > p input:focus  {
	border:1px solid #000;
	}
.contact-form .wpcf7-form > p:nth-child(2n+5) {
    width: 100%;
    float:left;
}
.contact-form .wpcf7-form > p label span{
	width:100%;
	float:left;}
.contact-form .wpcf7-form > p:nth-child(2n+5) label {
width:100%;
float:left;}

.contact-form .wpcf7-form > p:last-child{
	float:none !important;
	margin:15px auto 0 !important;
	display:block !important;
	width:100% !important;
	text-align:center;
}

.contact-form .wpcf7-form > p:nth-child(2n+6) {
    width: 100% !important;
    float:left !important;
    text-align:center;
}
.contact-form .wpcf7-form > p:nth-child(2n+6) input{
width:30%;float:none;margin:0 auto;display:bloack !important;}
.contact-form .wpcf7-form > p:nth-child(2n+6) input:focus{
	border:1px solid #ccc !important;
}
.wpcf7-response-output.wpcf7-display-none.wpcf7-validation-errors{
	float:left;
	width:100%;
}











