

@media only screen and (min-width: 1371px) and (max-width: 2200px) {
#screenshot .owl-stage-outer {
    height: 660px;
}

}

@media (max-width:1370px) {
#screenshot .owl-stage-outer{height:480px;}
.owl-controls {
    float: left;
    margin-bottom: 30px;
    width: 100%;
}
}

@media (max-width:1199px) {
.navbar-header .navbar-brand img {width: 80px !important;}
ul#nav li a {
    font-size: 14px;
    padding: 40px 12px!important;;
}
.is-sticky ul#nav li a {padding: 20px 7px !important;}
body .container {float: left;margin: 0;padding: 0 15px;width: 100%;}
.footer-area{float: left; width: 100%;}
.section-padding {
    float: left;
    padding: 50px 0 !important;
    width: 100%;
}
}

@media (max-width:1024px) and (min-width:630px) {
#screenshot .owl-carousel .owl-stage-outer{ height: 410px;}	
}

@media (max-width:991px){
.app-download-button{right: 22% !important;}	
.navbar ul#nav{ max-height: none !important;}
ul#nav li a {
    font-size: 14px;
    padding: 10px 0px !important;
}
.navbar-collapse #nav {
    padding: 10px 0; margin: 0px !important;
}
.is-sticky ul#nav li a {padding: 8px 10px !important;font-size: 14px;}
.home-button .app-download-button {
    float: none!important;
    left: 0!important;
    padding: 0!important;
    position: relative!important;
    right: 0!important;
}
.wel_sec .home-button {
    float: left;
    margin-top: 20px !important;
    width: 100%;
}
}

@media (max-width:768px){
.app-download-button{right: 11% !important;}	
}

@media (max-width:600px){
.app-download-button{right: 80px !important;}

.area-title ul.feat-list li {
    font-size: 16px !important;
}
.area-title ul.feat-list {
    padding-left: 10px !important;
    text-align: left;
}

#features .area-title {
    margin-bottom: 10px !important;
}
.welcome-text.wel_sec p {
    font-size: 22px;
    line-height: 32px;
}
.owl-carousel .owl-stage {
    height: 100%;
    position: relative;
}
.owl-carousel .owl-item {
    float: left;
    height: 100%;
}
.single-screenshot {
    height: 100%;
}
.screenshot-slider .owl-item img {
    height: 100%;
    transition: all 0.3s ease 0s;
}
.single-screenshot a {
    float: left;
    height: 100%;
    width: 100%;
}
}
@media (max-width:599px){
.screenshot-slider .owl-item img {
    height: auto;
    margin: 0 auto;
    transition: all 0.3s ease 0s;
    width: auto;
}
}
@media (max-width:480px){
.app-download-button{padding: 28px 0 !important; display:block !important;  top: 0; position: absolute;}	
.is-sticky .app-download-button{padding: 20px 0 !important;}
.area-title p {
    font-size: 15px !important;
    line-height: 24px !important;
    margin-bottom: 0;
}
}

/*.top-area {
    float: left;
    height: 65vh !important;
    margin-bottom: 0px !important;
    overflow: hidden;
    position: relative;
    width: 100%;
}   
.top_img{
    height: 90vh !important;
}*/

@media (max-width:360px){
.app-download-button a{font-size: 10px;}	
.app-download-button{padding: 26px 0 !important;}	
}