/*
Theme Name: touch
Theme URI: http://underscores.me/
Author: Sanket
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: touch
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

touch is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/


/*--------------------
   1. BASE CSS
----------------------*/


/*--------------------
   1. BASE CSS
----------------------*/

@import url('https://fonts.googleapis.com/css?family=Lato:400,400i|Montserrat:400,500,700');
.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a {
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

a:focus,
a:hover {
    outline: 0 solid;
    text-decoration: none;
}

button:focus {
    outline: 0;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

html,
body {
    height: 100%
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 400;
   /* color: #363636;*/
    color: #CC3300;
}

a:hover {
    text-decoration: none
}

.navbar-toggle {
    border: 2px solid #ef476f;
    border-radius: 0;
}

.navbar-toggle .icon-bar {
    background: #ef476f none repeat scroll 0 0;
}


/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.area-title {
    margin-bottom: 80px;
}

.area-title h2 {
    color: #ef476f;
    font-size: 36px;
    letter-spacing: 1px;
    line-height: 1;
    margin-bottom: 30px;
    padding: 0 10px;
    position: relative;
    text-transform: uppercase;
}

.area-title-after {
    display: inline-block;
    height: 1px;
    margin-bottom: 50px;
    position: relative;
    width: 180px;
}

.area-title-after::before,
.area-title-after::after {
    background: #fe2f43 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 43%;
}

.area-title-after::after {
    left: auto;
    right: 0;
    width: 43%;
}

.area-icon {
    border: 1px solid;
    border-radius: 50%;
    color: #ef476f;
    font-size: 20px;
    height: 25px;
    left: 50%;
    margin-left: -12.5px;
    margin-top: -12.5px;
    position: absolute;
    top: 50%;
    width: 25px;
}

.area-title p {
    margin-bottom: 0;
}

.section-padding {
    padding: 100px 0;
}

.padding-top {
    padding-top: 100px;
}

.padding-bottom {
    padding-bottom: 100px;
}

.red-bg {
    background: #9e7c4c;
    color: #fff;
}

.dark-bg {
    background: #2d2242;
    color: #fff;
}

.gray-bg {
    background: #F4F4F4;
}

.red-bg .area-title h2,
.dark-bg .area-title h2,
.download-area .area-title h2,
.subscriber-area .area-title h2 {
    color: #ffffff;
}

.red-bg .area-title-after:after,
.red-bg .area-title-after:before,
.dark-bg .area-title-after:after,
.dark-bg .area-title-after:before,
.download-area .area-title-after:after,
.download-area .area-title-after:before,
.subscriber-area .area-title-after:after,
.subscriber-area .area-title-after:before {
    background: #ffffff;
}

.dark-bg .area-icon,
.download-area .area-icon,
.subscriber-area .area-icon {
    color: #ffffff;
}


/*--------------------------
    2. TOP AREA
---------------------------*/

.top-area {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.top-area-bg {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.top-area-bg::before {
    background: #2d2242;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}


/*---------------------------------
    2.1 MAINMENU AREA
-----------------------------------*/

.header-top-area {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
}

.mainmenu-area {
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 9999 !important;
}

.navbar-header {
    margin-top: 15px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.navbar {
    border-bottom: 0 none;
    border-top: 0 none;
    margin-bottom: 0;
}

.navbar-brand > img {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.is-sticky .navbar-brand > img {
    max-width: 96%;
}

ul#nav {
    float: right;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

ul#nav li a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 40px 15px;
    position: relative;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

ul#nav li a::after {
    background: #ef476f none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 0;
}

ul#nav li.active a::after,
ul#nav li:hover a::after {
    width: 100%;
}

ul#nav li a:hover,
ul#nav li.active a {
    color: #ef476f;
}

.is-sticky ul#nav li a {
    padding: 20px 15px;
    color: #ffffff;
}

.is-sticky ul#nav li a:hover,
.is-sticky ul#nav li.active a {
    color: #ef476f;
}

.is-sticky .navbar-header {
    margin-top: -3px;
}

.is-sticky .mainmenu-area {
    background: #271d39;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
    z-index: 99999;
}

.app-download-button {
    float: right;
    padding: 37px 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.app-download-button a {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    color: #ef476f;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px;
    text-transform: uppercase;
}

.is-sticky .app-download-button a {
    background: #ef476f;
    color: #fff;
}

.is-sticky .app-download-button {
    padding: 17px 0;
}

.is-sticky .app-download-button a:hover {
    background: #fff none repeat scroll 0 0;
    color: #ef476f;
}


/*-----------------------------------
    2.2 WELCOME TEXT AREA
-------------------------------------*/

.welcome-text-area {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    color: #ffffff;
    overflow: hidden;
    font-size: 24px;
}

.welcome-text {
    position: relative;
    z-index: 9;
}

.welcome-text h3,
.welcome-text h1 {
    font-size: 36px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.welcome-text h1 {
    font-size: 62px;
    font-weight: 700;
    margin-bottom: 15px;
}

.welcome-text h3 span {
    color: #ef476f;
}

.home-button {
    margin-top: 100px;
}

.home-button a {
    background: #ef476f none repeat scroll 0 0;
    border-radius: 5px;
    color: #ffffff;
    display: inline-block;
    font-size: 15px;
    letter-spacing: 2px;
    margin-right: 20px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    width: 200px;
}

.home-button a:hover {
    background: #ffffff;
    color: #ef476f;
}

.welcome-background-layer {
    height: 100%;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    width: 100%;
}

.layer-one {
    bottom: 0;
    height: 75%;
    position: absolute;
    right: 15%;
    width: 100%;
    z-index: 2;
}

.layer-two {
    bottom: 0;
    height: 100%;
    position: absolute;
    right: 0;
    width: auto;
    z-index: 3;
}

.welcome-img {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
}

.welcome-mockup-one {
    bottom: 18%;
    position: absolute;
    right: 4%;
    width: 42%;
    z-index: 9;
}

.welcome-mockup-two {
    bottom: 0;
    height: auto;
    position: absolute;
    right: 0;
    width: 50%;
    z-index: 6;
}

.layer-one img {
    height: 100%;
}

.layer-two img {
    height: 100%;
}


/*-----------------------------
    3. FEATURES AREA
------------------------------*/

.features-menu-triger {
    margin-top: 50px;
}

.single-menu-items {
    cursor: pointer;
    margin-bottom: 60px;
    text-align: center;
}

.single-menu-items h4 {
    font-size: 16px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.features-icon {
    background: #ef476f none repeat scroll 0 0;
    padding: 30px 0;
    -webkit-transition: background-color 0.3s ease-in 0s;
    transition: background-color 0.3s ease-in 0s;
    position: relative;
}

.features-icon i {
    border: 1px solid;
    border-radius: 50%;
    color: #fff;
    font-size: 50px;
    height: 100px;
    margin: 0 auto;
    padding-top: 26px;
    text-align: center;
    width: 100px;
}

.single-menu-items.slick-current .features-icon {
    background: #673bb7;
}

.features-icon::after {
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 0 solid #673bb7;
    bottom: 0;
    content: "";
    left: 50%;
    margin-left: -30px;
    opacity: 0;
    position: absolute;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.single-menu-items.slick-current .features-icon::after {
    border-width: 30px;
    bottom: -28px;
    opacity: 1;
}

.single-features-details h3 {
    text-transform: uppercase;
}

.slick-slide:focus {
    outline: 0;
}

.slick-list {
    display: block;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    position: relative;
}

.slick-slide .slick-next,
.slick-slide .slick-prev {
    background: #ddd none repeat scroll 0 0;
    bottom: 0;
    color: #ef476f;
    display: inline-block !important;
    height: 50px;
    left: 50%;
    margin-bottom: 0;
    margin-left: -25px;
    margin-right: 20px;
    position: absolute;
    width: 50px;
    z-index: 99;
}

.slick-slide .slick-next {
    left: 55%;
}

.slick-dots {
    list-style: outside none none;
    margin: 50px 0 0;
    padding: 0;
    text-align: center;
}

.slick-dots li {
    display: inline;
}

.slick-dots li button {
    background: #ffffff none repeat scroll 0 0;
    border: 0 none;
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    margin: 0 10px;
    text-indent: -9999px;
    width: 20px;
}

.slick-dots li.slick-active button {
    background: #ef476f none repeat scroll 0 0;
}


/*-----------------------------------
    4. FUN FACT AREA
------------------------------------*/

.fact-icon {
    border: 1px solid;
    border-radius: 50%;
    font-size: 50px;
    height: 100px;
    margin: 0 auto 20px;
    padding-top: 25px;
    text-align: center;
    width: 100px;
}

.single-fun-fact h3 {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1;
}

.single-fun-fact {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}


/*-----------------------------
    5. ABOUT AREA
-------------------------------*/

.single-about {
    margin-bottom: 80px;
    padding-left: 90px;
    position: relative;
}

.about-icon {
    font-size: 60px;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.about-details h4 {
    text-transform: uppercase;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.single-about:hover .about-icon,
.single-about:hover .about-details h4 {
    color: #ef476f;
}


/*------------------------------
    5.1 VIDEO AREA
--------------------------------*/

.about-bottom-video {
    position: relative;
}

.about-bottom-video img {
    width: 100%;
}

.video-area {
    color: #fff;
    height: 86%;
    left: 14%;
    overflow: hidden;
    position: absolute;
    top: 3.5%;
    width: 74%;
}

video#bgvid {
    left: 0;
    position: absolute;
    top: 0;
    width: 134%;
}

.video-area::before,
.video-area::after {
    background: #2d2242;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    width: 100%;
    z-index: 2;
}

.video-area::before {
    background: rgba(0, 0, 0, 0) url("img/video/video_mockup_top.jpg") repeat scroll center center / cover;
    opacity: 1;
}

.video-area.palying::before,
.video-area.palying::after {
    opacity: 0;
}

video {
    width: 100%;
}

.video-area > button {
    background: transparent none repeat scroll 0 0;
    border: 0;
    border-radius: 50%;
    font-size: 50px;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -50px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 9;
}
.video-area > button:hover {
  color: #ef476f;
}
.video-area > button .fa {
    border: 5px solid;
    border-radius: 50%;
    height: 100px;
    padding-top: 20px;
    width: 100px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.video-area > button .fa-play {
    padding-left: 15px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.video-area > button .fa-pause {
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.video-area > button:hover .fa-pause {
    opacity: .3;
}


/*---------------------------------
    6. SCREENSHOT AREA
----------------------------------*/

.screenshot-area .area-title {
    margin-bottom: 0;
}

.screenshot-slider .owl-item {
    padding-top: 80px;
}

.screenshot-slider .owl-item img {
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.screenshot-slider .owl-item img:hover {
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
}


/*------------------------------
    7. PRICEING AREA
-------------------------------*/

.single-price {
    background: #fff none repeat scroll 0 0;
}

.price-title-and-rate {
    background: #2d2242 none repeat scroll 0 0;
    border-radius: 10px 10px 0 0;
    color: #fff;
    padding: 30px 0;
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.price-title-and-rate::after {
    background: #ef476f none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 50%;
    margin-left: -70px;
    position: absolute;
    top: 0;
    -webkit-transform: skewX(-30deg);
    transform: skewX(-30deg);
    width: 140px;
    z-index: -1;
}

.price-title {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 2px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.price-title-and-rate h3 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 0;
}

.price-details {
    background: #fff none repeat scroll 0 0;
    padding-top: 50px;
}

.price-details ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.price-details ul li {
    padding: 7px 0;
}

.price-details ul li i {
    color: #673bb7;
}

.price-button {
    padding: 40px 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.price-button a {
    background: #ef476f none repeat scroll 0 0;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    left: 50%;
    letter-spacing: 2px;
    margin: auto;
    padding: 10px;
    top: -20px;
    width: calc(100% - 30%);
}

.single-price.active .price-title-and-rate,
.single-price:hover .price-title-and-rate {
    background: #673bb7 none repeat scroll 0 0;
}

.price-button a:hover {
    background: #673bb7 none repeat scroll 0 0;
    color: #fff;
}


/*------------------------------
    8. DOWNLOAD AREA
--------------------------------*/

.download-area {
    color: #fff;
    position: relative;
}

.download-area-bg {
    background: rgba(0, 0, 0, 0) url("img/download_area_bg.jpg") no-repeat fixed center center / cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.download-area-bg::after {
    background: #ef476f none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
}

ul.download-button {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    text-align: center;
}

ul.download-button li {
    display: inline;
}

ul.download-button li a {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    color: #ef476f;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0 10px;
    min-width: 240px;
    padding: 20px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

ul.download-button li a i {
    margin-right: 10px;
}

ul.download-button li a:hover {
    color: #fff;
    background: #673bb7;
}


/*------------------------------
    9. TESTMONIAL AREA
-------------------------------*/

.testmonial-author-name-title-img {
    min-height: 150px;
    padding-left: 180px;
    position: relative;
}

.author-img {
    border-radius: 50%;
    height: 150px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 150px;
}

.author-img img {
    background: #ef476f none repeat scroll 0 0;
    border-radius: 50%;
    padding: 3px;
}

.testmonial-author-name-title-img h4 {
    font-size: 24px;
    text-transform: uppercase;
}

.testmonial-author-name-title-img h5 {
    font-weight: 500;
    letter-spacing: 1px;
}

.testmonial-author-social-bookmark ul {
    list-style: outside none none;
    margin: 30px 0 0;
    padding: 0;
}

.testmonial-author-social-bookmark ul li {
    display: inline;
}

.testmonial-author-social-bookmark ul li a {
    background: #ef476f none repeat scroll 0 0;
    border: 0 none;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    height: 35px;
    margin-right: 10px;
    padding-top: 5px;
    text-align: center;
    width: 35px;
}

.testmonial-author-social-bookmark ul li a:hover {
    background: #271d39 none repeat scroll 0 0;
}

.testmonial-author-details {
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    padding: 30px 100px;
    text-align: center;
    position: relative;
}

.testmonial-author-details::after {
    content: "\f10d";
    font-family: fontawesome;
    font-size: 40px;
    height: 60px;
    left: 35px;
    position: absolute;
    top: 15px;
    width: 60px;
    color: #271d39;
}

.single-client {
    display: inline-block;
    float: left;
    margin: 0 0.5%;
    width: 24%;
}

.testmonial-area .owl-item {
    padding-top: 40px;
    padding-bottom: 10px;
}

.single-client img {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    margin: 0 7px;
}

.single-client.active img {
    box-shadow: 0 0 7px #464646;
    margin-top: -20px;
}


/*------------------------------
    10. SUBSCRIBER AREA
-------------------------------*/

.subscriber-area {
    color: #fff;
    position: relative;
}

.subscriber-area-bg {
    background: rgba(0, 0, 0, 0) url("img/subscriber_area_bg.jpg") no-repeat fixed center center / cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.subscriber-area-bg::after {
    background: #2d2242 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.9;
    position: absolute;
    top: 0;
    width: 100%;
}

.subscriber-form form {
    border-radius: 50px;
    height: 50px;
    position: relative;
    width: 100%;
}

.subscriber-form input {
    border: 0 none;
    border-radius: 50px;
    color: #363636;
    height: 100%;
    left: 0;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    width: 100%;
}

.subscriber-form input:focus {
    outline: 0;
}

.subscriber-form button {
    background: #673bb7 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0 50px 50px 0;
    color: #ffffff;
    font-size: 16px;
    height: 100%;
    letter-spacing: 2px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 25%;
    font-weight: 600;
}

.subscriber-form button:hover {
    background: #ef476f none repeat scroll 0 0;
    color: #fff;
}

.subscriber-form label {
    color: #ef476f;
    left: 0;
    margin: 0;
    position: absolute;
    text-align: center;
    top: -30px;
    width: 100%;
}

.subscriber-form label.valid {
    top: 10px;
}


/*------------------------------
    11. FOOTER AREA
-------------------------------*/

.footer-area {
    background: #271d39 none repeat scroll 0 0;
    border-top: 1px solid #ef476f;
    color: #fff;
    padding: 25px 0;
}

.footer-area a {
    color: #ef476f;
}

.footer-area a:hover {
    color: #673bb7;
}

.footer-copyright p {
    margin-bottom: 0;
    margin-top: 10px;
}

.footer-social-bookmark ul {
    list-style: outside none none;
    margin: 4px 0 0;
    padding: 0;
}

.footer-social-bookmark ul li {
    display: inline;
}

.footer-social-bookmark ul li a {
    background: #ef476f none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    height: 35px;
    margin-right: 4px;
    padding-top: 5px;
    text-align: center;
    width: 35px;
}

.footer-social-bookmark ul li a:hover {
    color: #ef476f;
    background: #fff;
}


/*------------------------------
    12. SCROLL TO TOP
-------------------------------*/

a.scrolltotop {
    background: #ef476f none repeat scroll 0 0;
    bottom: 20px;
    color: #fff;
    display: none;
    font-size: 20px;
    height: 50px;
    padding-top: 10px;
    position: fixed;
    right: 20px;
    text-align: center;
    width: 50px;
    z-index: 99;
    box-shadow: 0 0 0 7px transparent;
}

a.scrolltotop:hover {
    box-shadow: 0 0 0 0 #272727;
    background: #272727;
}

